%table
  %thead
    %tr
      %td Avatar
      %td Title
      %td Role
      %td
      %td
  %tbody
    - User.all.each do |user|
      %tr
        %td= image_tag(user.avatar.thumb.url)
        %td= user.email
        %td= user.role
        %td= link_to 'Set_admin_role', admin_set_role_path(user.id), method: :post
        %td= link_to 'Delete', admin_delete_user_path(user.id), method: :delete

%br
%table
  %thead
    %tr
      %td Image
      %td Title
      %td Creator
      %td
      %td
  %tbody
    - Post.all.each do |post|
      %tr
        %td= image_tag(post.image.thumb.url)
        %td= post.title
        %td= post.user.email
        %td= link_to 'Show', user_post_path(post.user, post) 
        %td= link_to 'Delete', user_post_path(post.user, post), method: :delete